.movie {
  background-color: white;
  margin-bottom: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 10px;
  color: #adaeb9;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie__img {
  border-radius: 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie__contents {
  margin-left: 50px;
}

@media screen and (max-width: 1800px) {
  .movie__contents {
    margin-left: 80px;
  }
}

@media screen and (max-width: 1300px) {
  .movie__contents {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .movie__contents {
    margin-left: 0px;
  }
}

@media screen and (max-width: 880px) {
  .movie__contents {
    margin-left: 50px;
  }
}

@media screen and (max-width: 720px) {
  .movie__contents {
    margin-left: 80px;
  }
}

.movie__title,
.movie__year {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}

.movie__title a {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
  text-decoration: none;
}

.movie__title a:hover {
  color: #2679F2;
  font-weight: 600;
}

.movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.movie__genres li,
.movie__year {
  margin-right: 10px;
  font-size: 14px;
}